<!DOCTYPE html>
<html lang="en" class="w-100">

<head>
  <meta charset="UTF-8">
  <title>WebShop</title>
  {% load static %}
  <!-- <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" sizes="16x16">       Site icon -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <!-- Bootstrap.css -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script> <!-- JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script> <!-- Bootstrap.js -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" /> <!-- Static -->


  </style>
</head>

<body class="w-100 background-element">
  <div class="wrapper base-element ">
    <div class="background"></div>
    <header class="container shadow mb-4 font-weight-bold imaged bg-warning " id="upper">
      <nav class="navbar navbar-bordered navbar-expand-sm navbar-dark hz">
        <!--  Nav panel -->
        <a class="navbar-brand text-dark" href="/home"><i class="fas fa-tshirt"></i></a>
        <button class="navbar-toggler text-white" type="btn" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav text-dark">
            <li class="nav-item text-dark ">
              <a class="nav-link text-dark" href="/home" id="home_id"> Главная </a>
            </li>

            <li class="nav-item text-dark  border-white">
              <a class="nav-link text-dark" href="/clothes" id="clothes_id">
                Каталог </a>
            </li>
            <li class="nav-item text-dark  border-white">
              <a class="nav-link text-dark" href="/about" id="about_id">
                О нас </a>
            </li>
            <li class="nav-item text-dark  border-white">
              <a class="nav-link text-dark" href="/delivery" id="delivery_id">
                Доставка </a>
            </li>
            {% if request.user.is_staff %}
            <li class="nav-item text-dark  border-white">
                <a class="nav-link text-dark" href="/admin" id="delivery_id">
                  Панель управления </a>
              </li>
              {% endif %}
      
           

          </ul>
          <ul class="navbar-nav  ml-auto">
            <li class="nav-item mr-auto">

              <a class="nav-link text-dark" href="/cart" id="user"> Корзина <i class="fas  fa-shopping-cart"></i>
                {% if request.COOKIES.cart != 0 %}
                <span class="badge badge-pill rounded badge-danger">{{ request.COOKIES.cart }}</span>
                {% endif %}
              </a>


            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="content ">



      <div class="container included-content h-100 back">
        {% block content %}

        {% endblock %}
      </div>
    </div>
    {% if catalog %}
    <div><a class="float-right arrow" href="#"><i class="fas h1 text-danger  p-3 fa-arrow-circle-up"></i></a></div>
    {% endif %}
  </div>
  </div>
</body>

</html>