{% extends 'wrapper/wrapper.html' %}
{% block content %}
    <div class="container-fluid "></div>
        
        <div class="text-dark text-center  font-weight-bold h4 ">Возможные способы доставки:</div>
        <div class="row"><img class="img-fluid del-img py-5 ml-auto mr-auto" src="/media/np.png"  alt="#"></div>
        <div class="row "><img class="img-fluid del-img py-5 ml-auto mr-auto"  src="/media/urk.png"   alt="#"></div>
        <div class="row"><img class="img-fluid  py-5 ml-auto mr-auto ne" src="/media/logo.png" alt="#"></div>

    </div>
{% endblock %}