{% extends 'wrapper/wrapper.html' %}
{% block content %}
<div class="container d-flex justify-content-center  h-100 grad ">
    
    <div id="carousel" class="carousel slide car-img" data-ride="carousel">
        <ol class="carousel-indicators">

            {% for i in item.imgs.all %}

            <li data-target="#carousel" data-slide-to="{{ i.id }}" class="carus"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner d-flex align-items-center h-100 ">
            {% for i in item.imgs.all %}
            
            <div class="carousel-item  ">
                <img class="d-block img-fluid p-auto m-auto car-img " src="{{i.img.url}}" alt="Первый слайд">
 
            </div>
            {% endfor %}

        </div>
        <div class="carousel-caption m-2 d-block ">
                <h5 class="backgr rounded p-2 text-white"> {{item.desc}}</h5>
            </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
{% load static %}
<script src="{% static 'js/item_look_script.js' %}"></script>
{% endblock %}