{% extends 'wrapper/wrapper.html' %}
{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center h-100">
        <div class="text-dark font-weight-bold h4 ">WebShop - интернет магазин, в котором вы всегда найдете самые низкие цены и высокое качество товаров
            <br> <br> У нас вы встретите:
            <br>- самые низкие цены
            <br>- регулярное обновление ассортимента
            <br>- каждый день скидка на товар дня
            <br>- отправка товара в день заказа
        </div>
    </div>
{% endblock %} 